@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    outline: none;
  }


  body {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(0,0,0,.06);
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 3.125rem;
    height: 100%;
    z-index: 999;
  }

  nav .nav-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1.25rem 0.625rem;
    background-color: white;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.2);
  }

  nav .nav-wrap .hamburger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3.125rem;
    cursor: pointer;
  }

  nav .nav-wrap .hamburger span {
    position: relative;
    display: block;
    width: 100%;
    height: 0.125rem;
    background-color: #3498db;
  }

  nav .nav-wrap .hamburger span:before,
  nav .nav-wrap .hamburger span:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.125rem;
    background-color: #3498db;
  }

  nav .nav-wrap .hamburger span:before {
    transform: translateY(-0.375rem);
    animation: burger1 250ms linear;
  }

  nav .nav-wrap .hamburger span:after {
    transform: translateY(0.375rem);
    animation: burger2 250ms linear;
  }

  @keyframes burger1 {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-5px) rotate(0deg);
    }
  }

  @keyframes burger2 {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(5px) rotate(0deg);
    }
  }

  nav .nav-wrap .menu-bg {
    position: fixed;
    top: 0;
    left: -3.125rem;
    width: 0%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: -1;
  }

  nav .nav-wrap .menu-bg a {
    position: relative;
    display: flex;
    align-items: center;
    width: 0%;
    height: 25vh;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    transition: width 0.75s ease;
    color: white;
    font-size: 2.25rem;
    font-weight: bold;
    text-decoration: none;
  }

  nav .nav-wrap .menu-bg a:nth-of-type(2) {
    transition-delay: 0.5625s;
  }

  nav .nav-wrap .menu-bg a:nth-of-type(3) {
    transition-delay: 0.375s;
  }

  nav .nav-wrap .menu-bg a:nth-of-type(4) {
    transition-delay: 0.1875s;
  }

  nav .nav-wrap .menu-bg a:hover {
    background-color: #3498db;
    transition: background-color 500ms linear !important;
  }

  nav .nav-wrap #hamburger {
    display: none;
  }

  nav .nav-wrap #hamburger:checked~.hamburger span {
    display: block;
    width: 100%;
    background-color: white;
  }

  nav .nav-wrap #hamburger:checked~.hamburger span:before,
  nav .nav-wrap #hamburger:checked~.hamburger span:after {
    background-color: #3498db;
    transform-origin: center center;
  }

  nav .nav-wrap #hamburger:checked~.hamburger span:before {
    transform: rotate(45deg);
    animation: burger3 250ms linear;
  }

  nav .nav-wrap #hamburger:checked~.hamburger span:after {
    transform: rotate(-45deg);
    animation: burger4 250ms linear;
  }

  @keyframes burger3 {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(0) rotate(-45deg);
    }
  }

  @keyframes burger4 {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(0) rotate(45deg);
    }
  }

  nav .nav-wrap #hamburger:checked~.menu-bg {
    left: 3.125rem;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;
  }

  nav .nav-wrap #hamburger:checked~.menu-bg a {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 25vh;
    margin: 0;
    padding: 1.875rem 0 1.875rem 3.125rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    transition: width 0.75s ease;
  }

  nav .nav-wrap #hamburger:checked~.menu-bg a:nth-of-type(1) {
    transition-delay: 0.5625s;
  }

  nav .nav-wrap #hamburger:checked~.menu-bg a:nth-of-type(2) {
    transition-delay: 0.375s;
  }

  nav .nav-wrap #hamburger:checked~.menu-bg a:nth-of-type(3) {
    transition-delay: 0.1875s;
  }

  nav .nav-wrap #hamburger:checked~.menu-bg a:hover {
    background-color: #3498db;
    transition: background-color 500ms linear !important;
  }

  nav .brand {
    position: absolute;
    bottom: 4.25rem;
    left: -1.875rem;
    transform: rotate(-90deg);
    color: #3498db;
    font-family: 'Courier New', monospace;
    font-weight: bold;
  }

  nav .brand a {
    text-decoration: none;
    color: #3498db;
    font-size: 1.5rem;
  }


main{
    width: 100%;
}

main > section.slider > div.slides{
    max-width: 100%;
    position: relative;    
    height: 500px;
    margin: auto;
}


main > section.slider > div.slides > .item > img {
    object-fit: cover;
    width: 100%;
    height: 500px;
}
main > section.slider > div.slides > .item:nth-child(2){
    display: none;
}
main > section.slider > div.slides > .item:nth-child(3){
    display: none;
}


main > section.slider > div.slides > .prev, main > section.slider > div.slides > .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0, 0, 0, 0.2);
}

main > section.slider > div.slides > .prev{
    margin-left: 50px;
}

main > section.slider > div.slides > .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


main > section.slider > div.slides > .prev:hover,
main > section.slider > div.slides > .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


main > section.slider > div.slides > div.item > div.slideText {
    position: absolute;
    color: #fff;
    font-size: 35px; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;  
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}


main > section.slider > div.slides > div.slider-dots {
    position: absolute;
    left: 50%;
    bottom: 5%;

}
main > section.slider > div.slides > div.slider-dots > .slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: cyan;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

main > section.slider > div.slides > div.slider-dots > .slider-dots_item.active,
main > section.slider > div.slides > div.slider-dots > .slider-dots_item:hover {
    background-color: #aaa;
}



main > section.slider > div.slides > .item {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}





main > section.offers{
    max-width: 1200px;
    margin: 5rem auto;
    margin-left: 50px;
}
main > section.offers > div.offer{
    display: flex;
    flex-direction: column;
}
main > section.offers > div.offer > h3{
    color: #709dca;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
}
main > section.offers > div.offer> span{
    text-align: center;
    margin-top: 0.6rem;
    font-size: 1rem;
    color: #394b50;
}
main > section.offers > div{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
main > section.offers > div > article{
    width: 40%;
    display: flex;
}
main > section.offers > div > article > img{
    width: 50px;
    height: 50px;
    margin-top: 2rem;
}
main > section.offers > div > article > div{
    display: flex;
    flex-direction: column;
    margin: 2rem 15px 1rem;
}
main > section.offers > div > article > div > span{
    font-size: .9rem;
    color: grey;
    line-height: 1.5;
}
main > section.offers > div > article > div > span:first-child{
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
}




main > section.info{
    width: 100%;
    display: flex;
    margin: 0 auto;
    min-width: 576px;
}
main > section.info > img{
    width: 50%;
    height: auto;
}
main > section.info > article{
    background-color: #ffc155;
}
main > section.info > article > div.wrapper{
    display: flex;
    flex-direction: column;
    margin: 3rem;
    font-size: .8rem;
    color: white;
}
main > section.info > article > div.wrapper > h3{
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
main > section.info > article > div.wrapper > span{
    margin-bottom: 1rem;
}
main > section.info > article > div.wrapper > div{
    margin-bottom: 1rem;
}
main > section.info > article > div.wrapper > button{
    border: 2px solid #cb8d21;
    background: #e7ad48;
    color: white;
    padding: 10px 13px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    width: 40%;
}




main > section.photo{
    width: 100%;
    margin: 2rem auto;
    min-width: 576px;
    margin-left: 50px;
}
main > section.photo > h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #709dca;
}
main > section.photo > h3:after{
    content: '';
    width: 200px;
    height: 2px;
    background-color: #e7ad48;
    display: block;
    margin-top: 7px;
    margin: 1rem auto;
}
main > section.photo > div{
    margin: 1rem auto;
    font-size: .9rem;
    color: #5a626b;
    text-align: center;

}
main > section.photo > article > div{
    display: flex;
    justify-content: center;                
}
main > section.photo > article > div > div{
    display: flex;
    justify-content: center;                
}
main > section.photo > article > div > div >  img{
    width: 50%;
    height: auto;
}







main > section.reviews{
    max-width: 1200px;
    margin: 2rem auto;
    margin-left: 50px;
}
main > section.reviews > h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #709dca;
}
main > section.reviews > h3:after{
    content: '';
    width: 200px;
    height: 2px;
    background-color: #e7ad48;
    display: block;
    margin-top: 7px;
    margin: 1rem auto;
}
main > section.reviews > div{
    display: flex;
    margin: 2rem 0;
    justify-content: space-evenly;
}
main > section.reviews > div > article{  
    width: 40%;
    display: flex;
    flex-direction: column;
}
main > section.reviews > div > article > div:first-child{
    background-color: rgba(0, 0, 0, 0.075);
    font-size: .9rem;
    color: #5a626b;
    text-align: left;
    padding: 1rem;
    font-style: italic;
}
main > section.reviews > div > article > div.user{
    display: flex;
    margin: .5rem 0;
}
main > section.reviews > div > article > div.user > img{
    width: 50px;
    height: 50px;  
}
main > section.reviews > div > article > div.user > span{
    font-weight: 600;
    font-size: .9rem;
    color: #5a626b;
    margin: auto .5rem;
}





main > section.form{
    background-color: rgba(0,0,0,.06);
    padding: 2rem 0;
    margin-left: 50px;
}
main > section.form > form{
    max-width: 1200px;
    margin: 0 auto;
}
main > section.form > form > h3{
    color: #709dca;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin: 0;
    margin-bottom: 2rem;
    text-align: center;
}
main > section.form > form > h3:after{
    content: '';
    width: 200px;
    height: 2px;
    background-color: #e7ad48;
    display: block;
    margin-top: 7px;
    margin: 1rem auto;
}
main > section.form > form > div.row{
    display: flex;
    justify-content: space-between;    
}
main > section.form > form > div.row > div.col{
    width: 48%;
    display: flex;
    flex-direction: column;
}
main > section.form > form > div.row > div.col > input,
main > section.form > form > div.row > div.col > textarea{
    border: 2px solid #ffc155;
    font-size: 1.2rem;
    padding: 5px;
}
main > section.form > form > div.row > div.col > input{
    margin-bottom: 10px;
}
main > section.form > form > div.row > div.col > button{
    border: 2px solid #ffc155;
    background-color: #273a43;
    padding: 10px 0;
    color: white;
    font-size: 1.1rem;
}
main > section.form > form > div.row > div.col > textarea{
    height: calc(100% - 10px);
    box-sizing: border-box;
    resize: none;
    min-height: 5rem;
}




/* main > section.form > form > .emotions{
    display: flex;
}
main > section.form > form > div.emotions > label {
    margin-right: 1rem;
}
main > section.form > form > div.emotions > label > input[type="radio"] {
    display: none;
}
main > section.form > form > .emotions > label  > svg {
    width: 60px;
    height: 60px;    
}

main > section.form > form > .emotions > label  > .icon > svg  {
    fill: blue;    
    color: blue;
} */






footer{
    width: 100%;
}
footer > section{
    background-color: #273a43;
    padding: 2rem;
}
footer > section > div.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}
footer > section > div.wrapper > article{
    width: 25%;
    display: flex;
    flex-direction: column;
}
footer > section > div.wrapper > article > div.logo{
    display: flex;
}
footer > section > div.wrapper > article > div.logo > img{
    width: 30px;
    height: 30px;
    margin: auto 0;
}
footer > section > div.wrapper > article > div.logo > h3{
    color: #f5d347;
    font-size: 1.2rem;
    margin-left: .5rem;
}
footer > section > div.wrapper > article > div.invitation{
    color: #c3c3c3;
    line-height: 1.5;
    font-size: .9rem;
}
footer > section > div.wrapper > article > h3{
    color: white;
    font-size: 1.2rem;
}
footer > section > div.wrapper > article > span > img{
    width: 15px;
    height: auto;
}
footer > section > div.wrapper > article > span > address{
    display: inline;
    font-style: normal;
    color: #c3c3c3;
    font-size: .9rem;
    margin-left: .5rem;
}
footer > section > div.wrapper > article > span > a{
    text-decoration: none;
    color: #c3c3c3;
    font-size: .9rem;
    margin-left: .5rem;
}
footer > section > div.wrapper > article > div.lastnews{
    color: #c3c3c3;
    font-size: .9rem;
}
footer > section > div.wrapper > article > div.lastnews > div > span{
    color: #71b6d5;
}
footer > div.lastwrap{
    background-color: #172227;
    padding: 2rem 0;
}
footer > div.lastwrap > div{
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: .9rem;
    margin-left: 50px;
}
footer > div.lastwrap > div > div.social{
    display: flex;
}
footer > div.lastwrap > div > div.social > a > img{
    width: 25px;
    height: 25px;
    margin-right: .5rem;
}




@media (max-width: 1200px){
    main > section:not(.slider):not(div.info):not(div.photo),
    footer > div.lastwrap{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}



@media (max-width: 992px){
    header > div.logo > img{
        margin-left: 20px;
        width: 30px;
        height: 30px;
    }
    header > nav{
        margin-left: 2rem;
        margin-right: 20px;
    }
    header > div.logo > span{
        font-size: 1.5rem;
    }


    main > section.info > article   > div.wrapper > h3,
    main > section.info > article   > div.wrapper > span,
    main > section.info > article   > div.wrapper > button{
        margin: 0 auto .5rem;
    }

}



@media (max-width: 768px){
    header > nav{
        margin-right: 0;
    }
    header > nav > a{
        margin-right: .8rem;
    }
    main > section.reviews > div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main > section.reviews > div > article{
        margin-bottom: 1rem;
        width: 75%;
    }
    main > section.form > form > div.row{
        flex-wrap: wrap;
    }
    main > section.form > form > div.row > div.col{
        width: 100%;
    }
    main > section.form > form > div.row > div.col > textarea{
        margin-bottom: 10px;
    }

    footer > div.lastwrap > div{
        font-size: 0.8rem;
    }
    footer > div.lastwrap > div > div.social > a > img{
        width: 20px;
        height: 20px;
        margin-right: .3rem;
    }
    footer > section > div.wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main > section.offers > div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main > section.offers > div > article {
        width: 70%;
    }
    main > section.info{
        flex-direction: column;
    }
    main > section.info > img{
        width: 100%;
        height: auto;
    }
    main > section.info > article{
        margin-left: 25px;
    }
    footer > section > div.wrapper > article{
        width: 70%;
    }
    main > section.photo > article > div > div{
        display: flex;
        flex-direction: column;               
    }
    main > section.photo > article > div > div >  img{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 576px){
    footer > section > div.wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer > section > div.wrapper > article{
        width: 60%;
    }

    /* footer > div.lastwrap > div{
        display: flex;
        flex-direction: column;
        align-items: center;        
    } */

    footer > div.lastwrap > div > span{
        margin-bottom: .8rem;
    }

    main > section.reviews > div > article{
        margin-bottom: 1rem;
        width: 100%;
        margin: 0 auto;
    }
    main > section.photo > article > div{
        display: flex;
        flex-direction: column;               
    }
    main > section.photo > article > div > div{
        display: flex;
        flex-direction: column;               
    }
    main > section.photo > article > div > div >  img{
        width: 100%;
        height: auto;
    }

    html{
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }    
    body{
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }
}




